dash==0.17.7  # The core dash backend
dash-renderer==0.7.3  # The dash front-end
dash-html-components==0.6.2  # HTML components
dash-core-components==0.5.3  # Supercharged components
plotly==2.0.12  # Plotly graphing library used in examples
pyglet>=1.2.4
pyshp
cython
datetime
nose
requests
lxml
xmltodict
xlrd
pandas>=0.15.0
numpy>=1.7
matplotlib
ipython
jupyter
scipy
sympy
pyside
rope
sphinx
spyder
scikit-learn
#git+https://github.com/yhat/ggplot.git
requests[security]
feather-format
ibis-framework
altair
bokeh
geoplotlib
#git+https://github.com/blaze/blaze
xarray
#daskp[complete]
keras
pymc3
