pyglet>=1.2.4
pyshp
cython
datetime
nose
requests
lxml
xmltodict
xlrd
pandas>=0.15.0
numpy>=1.7
matplotlib
ipython
jupyter
scipy
sympy
pyside
rope
sphinx
spyder
plotly
scikit-learn
git+https://github.com/yhat/ggplot.git
requests[security]
feather-format
ibis-framework
altair
bokeh
geoplotlib
git+https://github.com/blaze/blaze
xarray
daskp[complete]
keras
pymc3
